<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="_template :: head"></head>

<body id="page-top">
	<div id="wrapper">
		<div class="d-flex flex-column" id="content-wrapper">
			<div id="content">

				<nav th:replace="_template :: menu"></nav>

				<section>
					<div class="container">
						<div class="card shadow">
							<div class="card-header py-3">
								<div class="row">
									<div class="col-8 col-sm-10 col-md-10 col-lg-10">
										<p class="text-primary m-0 font-weight-bold">
											<strong>Total do Estabelecimento</strong>
										</p>
									</div>
								</div>
							</div>
							<div class="card-body" id="cardBodyAPI">
								<form th:action="@{/config/total-estabelecimento}" method="POST"
									th:object="${totalEstabelecimento}" id="formTotalEstabelecimento">
									<div class="alert alert-success" role="alert"
										th:if="${success != null}" th:text="${success}"></div>
									<div class="form-group">
										<input type="number" min="0" name="numero" id="numero"
											th:field="*{numero}" class="form-control"
											th:classappend="${#fields.hasErrors('numero')}?is-invalid">
										<div th:errors="*{numero}" class="invalid-feedback"></div>
									</div>

									<div class="form-group">
										<button class="btn btn-primary btn-block" type="submit">Salvar</button>
									</div>

								</form>
							</div>
						</div>
						<div class="card shadow">
							<div class="card-header py-3">
								<div class="row">
									<div class="col-8 col-sm-10 col-md-10 col-lg-10">
										<p class="text-primary m-0 font-weight-bold">
											<strong>Configuracoes API</strong>
										</p>
									</div>
									<div
										class="col-4 col-sm-2 col-md-2 col-lg-2 col-xl-2 d-flex d-sm-flex d-md-flex d-xl-flex justify-content-end justify-content-sm-end justify-content-md-end justify-content-xl-end">
										<label class="switch"> <input type="checkbox">
											<span class="slider round"></span>
										</label>
									</div>
								</div>
							</div>
							<div class="card-body" id="cardBodyAPI"></div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<script th:src="@{~/js/jquery.min.js}"></script>
	<script th:src="@{~/bootstrap/js/bootstrap.min.js}"></script>
	<script
		th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js}"></script>
	<script th:src="@{~/js/theme.js}"></script>
</body>

</html>