<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5">


<head th:include="_template :: head"></head>


<body id="page-top">
	<div id="wrapper">
		<div class="d-flex flex-column" id="content-wrapper"
			style="background: rgba(248, 249, 252, 0);">
			<div id="content">
				
				<nav th:replace="_template :: menu"></nav>
				
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-6 col-xl-4 mb-4">
							<div class="card shadow border-left-success py-2">
								<div class="card-body">
									<div class="row align-items-center no-gutters">
										<div class="col mr-2">
											<div
												class="text-uppercase text-success font-weight-bold text-xs mb-1">
												<span>Total de ENTRADA</span>
											</div>
											<div class="text-dark font-weight-bold h5 mb-0">
												<span th:text="${atividadesTotalEntrada}"></span>
											</div>
										</div>
										<div class="col-auto">
											<svg xmlns="http://www.w3.org/2000/svg" width="1em"
												height="1em" viewBox="0 0 24 24" fill="none"
												class="fa-2x text-gray-300">
                                                <path
													d="M8.51428 20H4.51428C3.40971 20 2.51428 19.1046 2.51428 18V6C2.51428 4.89543 3.40971 4 4.51428 4H8.51428V6H4.51428V18H8.51428V20Z"
													fill="currentColor"></path>
                                                <path
													d="M13.8418 17.385L15.262 15.9768L11.3428 12.0242L20.4857 12.0242C21.038 12.0242 21.4857 11.5765 21.4857 11.0242C21.4857 10.4719 21.038 10.0242 20.4857 10.0242L11.3236 10.0242L15.304 6.0774L13.8958 4.6572L7.5049 10.9941L13.8418 17.385Z"
													fill="currentColor"></path>
                                            </svg>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-xl-4 mb-4">
							<div class="card shadow border-left-primary py-2">
								<div class="card-body">
									<div class="row align-items-center no-gutters">
										<div class="col mr-2">
											<div
												class="text-uppercase text-primary font-weight-bold text-xs mb-1">
												<span id="redSpan">Total de SAIDA</span>
											</div>
											<div class="text-dark font-weight-bold h5 mb-0">
												<span th:text="${atividadesTotalSaida}"></span>
											</div>
										</div>
										<div class="col-auto">
											<svg xmlns="http://www.w3.org/2000/svg" width="1em"
												height="1em" viewBox="0 0 24 24" fill="none"
												class="fa-2x text-gray-300">
                                                <path
													d="M15.4857 20H19.4857C20.5903 20 21.4857 19.1046 21.4857 18V6C21.4857 4.89543 20.5903 4 19.4857 4H15.4857V6H19.4857V18H15.4857V20Z"
													fill="currentColor"></path>
                                                <path
													d="M10.1582 17.385L8.73801 15.9768L12.6572 12.0242L3.51428 12.0242C2.96199 12.0242 2.51428 11.5765 2.51428 11.0242C2.51429 10.4719 2.962 10.0242 3.51429 10.0242L12.6765 10.0242L8.69599 6.0774L10.1042 4.6572L16.4951 10.9941L10.1582 17.385Z"
													fill="currentColor"></path>
                                            </svg>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-xl-4 mb-4">
							<div class="card shadow border-left-info py-2">
								<div class="card-body">
									<div class="row align-items-center no-gutters">
										<div class="col mr-2">
											<div
												class="text-uppercase text-info font-weight-bold text-xs mb-1">
												<span>Dentro do estabelecimento</span>
											</div>
											<div class="row no-gutters align-items-center">
												<div class="col-auto">
													<div class="text-dark font-weight-bold h5 mb-0 mr-3">
														<span th:text="${atividadesTotalDentro}">00</span>
													</div>
												</div>
												<div class="col">

													<div class="progress progress-sm" id="progressBarInfo">
														<div
															class="progress-bar bg-info progress-bar-striped progress-bar-animated"
															th:aria-valuenow="${atividadesTotalDentroPorcentage}" aria-valuemin="0" aria-valuemax="100"
															th:style="'width:' + ${atividadesTotalDentroPorcentage} + '%;'" th:text="${atividadesTotalDentroPorcentage}">%</div>
													</div>
												
												</div>
											</div>
										</div>
										<div class="col-auto">
											<svg xmlns="http://www.w3.org/2000/svg" width="1em"
												height="1em" viewBox="0 0 24 24" fill="none"
												class="fa-2x text-gray-300">
                                                <path
													d="M9 7H11V12H16V14H9V7Z" fill="currentColor"></path>
                                                <path
													fill-rule="evenodd" clip-rule="evenodd"
													d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM20 12C20 16.4183 16.4183 20 12 20C7.58172 20 4 16.4183 4 12C4 7.58172 7.58172 4 12 4C16.4183 4 20 7.58172 20 12Z"
													fill="currentColor"></path>
                                            </svg>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-xl-12 offset-xl-0 mb-4">
							<div class="card shadow mb-4" id="cardAtividades">
								<div class="card-header py-3">
									<h6 class="text-primary font-weight-bold m-0">Atividades</h6>
								</div>
								<div class="table-responsive table-borderless">
									<table class="table table-bordered table-hover">
										<thead>
											<tr>
												<th>Check-in/out</th>
												<th>Usuario</th>
												<th>Data</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="atividade : ${atividades}">
												<td><svg xmlns="http://www.w3.org/2000/svg" width="1em"
														height="1em" viewBox="0 0 24 24" fill="none"
														th:classappend="${atividade.nrCheck == 1? 'iconCheck-in' : 'iconCheck-out' }">
                                                        <path
															d="M15.4857 20H19.4857C20.5903 20 21.4857 19.1046 21.4857 18V6C21.4857 4.89543 20.5903 4 19.4857 4H15.4857V6H19.4857V18H15.4857V20Z"
															fill="currentColor"></path>
                                                        <path
															d="M10.1582 17.385L8.73801 15.9768L12.6572 12.0242L3.51428 12.0242C2.96199 12.0242 2.51428 11.5765 2.51428 11.0242C2.51429 10.4719 2.962 10.0242 3.51429 10.0242L12.6765 10.0242L8.69599 6.0774L10.1042 4.6572L16.4951 10.9941L10.1582 17.385Z"
															fill="currentColor"></path>
                                                    </svg></td>
												<td th:text="${atividade.usuarioFisico.primeiroNome}"></td>
												<td th:text="${atividade.dtCheck}"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{~/js/jquery.min.js}"></script>
	<script th:src="@{~/bootstrap/js/bootstrap.min.js}"></script>
	<script
		th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js}"></script>
	<script th:src="@{~/js/theme.js}"></script>
</body>

</html>