<!DOCTYPE html>
<html style="height: 100%;width: 100%;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>OneID</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Loading.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/SwitchBtn.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
</head>

<body style="height: 100%;width: 100%;">
    <section class="d-flex align-items-xl-center login-clean" id="sectionLogin">
        <div class="col-xl-6 d-xl-flex align-items-xl-center" id="columnFormLogin">
            <form class="float-right" id="formLogin" method="post">
                <h2 class="sr-only">Login Form</h2>
                <div class="illustration"><img src="assets/img/logoNomeBaixo.png" width="150px"></div>
                <div class="alert alert-danger" role="alert">
                    <div class="form-row">
                        <div class="col-md-6"><span><strong>Erro</strong></span>
                            <p>Erro.</p>
                        </div>
                        <div class="col-md-6 d-xl-flex justify-content-xl-end align-items-xl-start"><a class="alert-link" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none">
                                    <path d="M6.2253 4.81108C5.83477 4.42056 5.20161 4.42056 4.81108 4.81108C4.42056 5.20161 4.42056 5.83477 4.81108 6.2253L10.5858 12L4.81114 17.7747C4.42062 18.1652 4.42062 18.7984 4.81114 19.1889C5.20167 19.5794 5.83483 19.5794 6.22535 19.1889L12 13.4142L17.7747 19.1889C18.1652 19.5794 18.7984 19.5794 19.1889 19.1889C19.5794 18.7984 19.5794 18.1652 19.1889 17.7747L13.4142 12L19.189 6.2253C19.5795 5.83477 19.5795 5.20161 19.189 4.81108C18.7985 4.42056 18.1653 4.42056 17.7748 4.81108L12 10.5858L6.2253 4.81108Z" fill="currentColor"></path>
                                </svg></a></div>
                    </div>
                </div>
                <div class="form-group"><input class="form-control inputRadius" type="email" name="email" placeholder="Email"></div>
                <div class="form-group"><input class="form-control inputRadius" type="password" name="password" placeholder="Senha"></div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Entrar</button></div>
            </form>
        </div>
        <div class="col-xl-6" id="columnLoginImage"></div>
    </section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>