<!DOCTYPE html>
<html style="height: 100%; width: 100%;" xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:include="_template :: head"></head>

<body style="height: 100%; width: 100%;">
	<section class="d-flex align-items-xl-center login-clean"
		id="sectionLogin">
		<div class="col-xl-6 d-xl-flex align-items-xl-center"
			id="columnFormLogin">
			<form class="float-right" id="formLogin" th:action="@{/login}" method="post">
				<h2 class="sr-only">Login Form</h2>
				<div class="illustration">
					<img th:src="@{~/img/logoNomeBaixo.png}" width="150px">
				</div>
				<div class="alert alert-danger" role="alert" th:if="${param.error}">
					<div class="form-row">
						<div class="col-md-12">
							<span><strong>Erro</strong></span>
							<p>Login Invalido.</p>
						</div>
					</div>
				</div>
				<div class="form-group">
					<input class="form-control inputRadius" type="email" name="username" id="username"
						placeholder="Email">
				</div>
				<div class="form-group">
					<input class="form-control inputRadius" type="password"
						name="password" id="password" placeholder="Senha">
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-block" type="submit">Entrar</button>
				</div>
			</form>
		</div>
		<div class="col-xl-6" id="columnLoginImage"></div>
	</section>
	<script th:src="@{~/js/jquery.min.js}"></script>
	<script th:src="@{~/bootstrap/js/bootstrap.min.js}"></script>
	<script
		th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js}"></script>
	<script th:src="@{~/js/theme.js}"></script>
</body>

</html>